<div class="container">
    <h1 class="mt-3">Users List</h1>
    <h5 class="mt-2">To exchange subscriptions, follow the user's links and click 'ExSub'. This will automatically message them asking do the same to you.  Wait a couple of days, then rate them if you'd like.</h5>
    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/categories/add']" class="btn btn-primary">Add Category</a>
    </div>

    <ng-container *ngIf="categories$ | async as categories">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Users</th>
                    <th>Url1</th>
                    <th>Url2</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.urlHandle}}</td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="['/admin/categories',category.id]">ExSub</a>
                        
                    </td>
                    <td> <app-star-rating [rating]="4"></app-star-rating></td>
                   
                   

                </tr>
            </tbody>
        </table>
    </ng-container>

</div>